<div class="clients">
    <div class="wrapper">
        <div class="portfolio__title">
            Clients
        </div>
        <div class="swiper-container clients-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../img/clients/apartfind-logo.png" alt="apartfind">
            </div>
            <div class="swiper-slide">
                <img src="../img/clients/casio-logo.png" alt="casio">
            </div>
            <div class="swiper-slide">
                <img src="../img/clients/cnn-logo.png" alt="cnn">
            </div>
            <div class="swiper-slide">
                <img src="../img/clients/fujifilm-logo.png" alt="fujifilm">
            </div>
            <div class="swiper-slide">
                <img src="../img/clients/casio-logo.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="../img/clients/cnn-logo.png" alt="">
            </div>
        </div>
        
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>