<footer class="footer">
    <div class="wrapper">
        <div class="row d-flex justify-content-between">
            <div class="col-md-6">
                <div class="footer-menu d-flex justify-content-start flex-wrap">
                    <div class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Home</a>
                    </div>
                    <div class="footer-menu__item">
                        <a href="#" class="footer-menu__link">About</a>
                    </div>
                    <div class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Services</a>
                    </div>
                    <div class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Work</a>
                    </div>
                    <div class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Blog</a>
                    </div>
                    <div class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Contact us</a>
                    </div>
                </div>
                <div class="copyright">
                    <span class="copyright__text">
                       © 2013 BlueBox.  All Rights Reserved.
                   </span>
                    <span class="copyright__subtext">
                       The logos used in the design are the property of their respective owners / copyright holders.
                   </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="social text-right">
                    <a href="#" class="social__link"><img src="../img/social-link/facebook.png" alt="fb"></a>
                    <a href="#" class="social__link"><img src="../img/social-link/linkedin.png" alt="linkedin"></a>
                    <a href="#" class="social__link"><img src="../img/social-link/twitter.png" alt="tw"></a>
                    <a href="#" class="social__link"><img src="../img/social-link/pinterest.png" alt="pint"></a>
                    <a href="#" class="social__link"><img src="../img/social-link/dribbble.png" alt="dr"></a>
                    <a href="#" class="social__link"><img src="../img/social-link/google-plus.png" alt="gp"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
