<div class="portfolio">
    <div class="wrapper">
            <div class="portfolio__title">
                Our Works
            </div>
        <div class="row d-flex">
            <div class="portfolio__item col-lg-3 col-md-6 col-sm-12">
                <img class="portfolio__img" src="../img/work-item-1.png" alt="item-1">
                <div class="portfolio__info">
                    <div class="portfolio__subtitle">This is Image Hover</div>
                    <div class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
            </div>
            <div class="portfolio__item col-lg-3 col-md-6 col-sm-12">
                <img class="portfolio__img"
 src="../img/work-item-2.png" alt="item-2">
                <div class="portfolio__info">
                    <div class="portfolio__subtitle">This is Image Hover</div>
                    <div class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
            </div>
            <div class="portfolio__item col-lg-3 col-md-6 col-sm-12">
                <img class="portfolio__img"
 src="../img/work-item-3.png" alt="item-3">
                <div class="portfolio__info">
                    <div class="portfolio__subtitle">This is Image Hover</div>
                    <div class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
            </div>
            <div class="portfolio__item col-lg-3 col-md-6 col-sm-12">
                <img class="portfolio__img"
 src="../img/work-item-4.png" alt="item-4">
                <div class="portfolio__info">
                    <div class="portfolio__subtitle">This is Image Hover</div>
                    <div class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
            </div>
            <div class="portfolio__item col-lg-3 col-md-6 col-sm-12">
                <img class="portfolio__img"
 src="../img/work-item-5.png" alt="item-5">
                <div class="portfolio__info">
                    <div class="portfolio__subtitle">This is Image Hover</div>
                    <div class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
            </div>
            <div class="portfolio__item col-lg-3 col-md-6 col-sm-12">
                <img class="portfolio__img"
 src="../img/work-item-6.png" alt="item-6">
                <div class="portfolio__info">
                    <div class="portfolio__subtitle">This is Image Hover</div>
                    <div class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
            </div>
            <div class="portfolio__item col-lg-3 col-md-6 col-sm-12">
                <img class="portfolio__img"
 src="../img/work-item-7.png" alt="item-7">
                <div class="portfolio__info">
                    <div class="portfolio__subtitle">This is Image Hover</div>
                    <div class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
            </div>
            <div class="portfolio__item col-lg-3 col-md-6 col-sm-12">
                <img class="portfolio__img"
 src="../img/work-item-8.png" alt="item-8">
                <div class="portfolio__info">
                    <div class="portfolio__subtitle">This is Image Hover</div>
                    <div class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
            </div>
        </div>
    </div>
</div>