<div class="promo">
    <div class="row text-center d-flex justify-content-center">
        <div class="promo__item col-lg-3 col-md-6 col-sm-12">
            <div class="promo__title">Web Design</div>
            <div class="promo__img">
              <img src="../img/paint-icon.png" alt="web_design">
            </div>
            <div class="promo__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos deserunt reprehenderit enim, nam ducimus sint fugit provident velit quis, nobis quam. Atque ipsa aut maxime deserunt enim dicta a numquam.
            </div>
            <div>
                <a href="#" class="promo__link">Read More</a>
            </div>
        </div>
        <div class="promo__item col-lg-3 col-md-6 col-sm-12">
            <div class="promo__title">Social Media</div>
            <div class="promo__img">
                <img src="../img/share-icon.png" alt="social_media">
            </div>
            <div class="promo__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos deserunt reprehenderit enim, nam ducimus sint fugit provident velit quis, nobis quam. Atque ipsa aut maxime deserunt enim dicta a numquam.
            </div>
            <div class="promo__button">
                <a href="#" class="promo__link">Read More</a>
            </div>
        </div>
        <div class="promo__item col-lg-3 col-md-6 col-sm-12">
            <div class="promo__title">Mobile Apps</div>
            <div class="promo__img">
                <img src="../img/mobile-icon.png" alt="mobile_apps">
            </div>
            <div class="promo__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos deserunt reprehenderit enim, nam ducimus sint fugit provident velit quis, nobis quam. Atque ipsa aut maxime deserunt enim dicta a numquam.!
            </div>
            <div class="promo__button">
                <a href="#" class="promo__link">Read More</a>
            </div>
        </div>
    </div>
</div>