<div class="slider ">
  
  <div class="owl-carousel owl-theme main-slider">
    <div class="item">
        <div class="swiper-info">
             <div class="swiper-info__text col-12 col-md-7 offset-md-1 p-5">We are a Creative Digital Agency</div>
             <div class="swiper-info__button col-12 col-md-2 text-center">
                 <button class="btn btn-primary btn-slide">Learn More</button>
             </div>
        </div>
        <div class="swiper-slide__img text-center">
           <img src="../img/slider/slide-1.png" alt="slide-1">
        </div>
    </div>
<!--
    <div class="item">
        <div class="swiper-info">
                 <div class="swiper-info__text  col-md-7 offset-md-1 p-5">ФФФФФФФФФФФФФФ Agency</div>
                 <div class="swiper-info__button  col-md-2">
                     <button class="btn btn-primary btn-slide">Learn More</button>
                 </div>
               </div>
               <div class="swiper-slide__img text-center">
                   <img src="../img/slider/slide-1.png" alt="slide-1">
               </div>
    </div>
-->
</div>
    <div class="arrow-prev"></div>
    <div class="arrow-next"></div>
  
</div>