<div class="slider">
    <!-- Slider main container -->
    <div class="swiper-container main-slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
               <div class="swiper-info">
                 <div class="swiper-info__text  col-md-7 offset-md-1 p-5">We are a Creative Digital Agency</div>
                 <div class="swiper-info__button  col-md-2">
                     <button class="btn btn-primary btn-slide">Learn More</button>
                 </div>
               </div>
               <div class="swiper-slide__img text-center">
                   <img src="../img/slider/slide-1.png" alt="slide-1">
               </div>
            </div>
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    
  </div>
</div>