@import '../mixins';

.clients {
    @include clearfix();
    padding-top: 35px;
    margin-bottom: 45px;
    
    .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .swiper-button-prev {
        left: 0!important;
    }
    .swiper-button-next {
        right: 0!important;
    }
}