@import '../mixins';

.clients {
    @include clearfix();
    padding-top: 35px;
    margin-bottom: 45px;
    position: relative;
    
    .clients-slider {
        margin-bottom: 85px;
    }
    
    .arrow-prev {
        left: 5%;
        top: 69%;
    }
    
    .arrow-next {
        right: 5%;
        top: 69%;
    }
}