@import '../mixins';

.promo {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 73px;
    @include clearfix();
    
    &__title {
        color: $title-color;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    
    &__img {
        margin-bottom: 33px;
    }
    
    &__text {
        color: $text-color;
        font-size: 15px;
        font-weight: 400px;
        line-height: 26px;
        margin-bottom: 15px;
    }
    
    &__link {
        color: $blue;
        font-weight: bold;
        font-size: 15px;
    }
    
}