@import '../mixins';

.slider {
    @include clearfix();
    position: relative;
    
    background: url('../../img/slider/bg.png');
    height: 550px;
    margin-bottom: 100px;
}


    .swiper-info {
        display: flex;
        align-items: center;
        margin-bottom: 48px;
        flex-wrap: wrap;

        &__text {
            color: $white;
            font-size: 3vw;
            font-weight: 400;
            
             @media screen and (max-width: 668px) {
                font-size: 5vw;
            }
        }

        &__button {

            .btn-slide {
                cursor: pointer;
                width: 90%;
                border-radius: 4px;
                background-color: $blue;
                font-size: 1.9vw;
                font-weight: 400;
                padding: 15px 0 18px 0;
                border: none;

                 &:hover,
                 &:focus,
                 &:active {
                    background-color: darken($blue, 10%); 
                    outline: none;
                 }
                
                 @media screen and (max-width: 668px) {
                     font-size: 4vw;
                 }
            }
        }
    }


