//libs
@import 'lib/_lib';
@import 'font-awesome.min.css';

//block
@import 'block/_header';
@import 'block/_footer';

//mixins
@import 'mixins';

//fonts
@import 'fonts';

//variables
@import 'variables';

//custom
body {
    background: #fff;
    height: 100%;
    font-family: "PTSans";
    font-size: 14px;
    
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -($footer-height);
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    
    &:after {
      content: "";
      display: block;
      height: $footer-height;
    }
}
